{% load static %}
<!-- about section -->
<section class="section cta" id="cta">
    <div class="bg-overlay-gradiant"></div>
    <!-- start container -->
    <div class="container position-relative">
        <div class="row">
            <div class="col-lg-7">
                <div class="py-5">
                    <h1 class="display-4 text-white">Совершенствуйте свой английский уже сегодня.</h1>
                    <p class="text-white-50 mt-3 f-18">Откройте мир эффективного общения и владения английским 
                        языком. Наши ресурсы помогут вам освоить английский язык легко и навсегда.</p>
                </div>
            </div>
            
            <div class="col-lg-5 mt-1">
                <div class="cta-phone-image">
                    <img src="{% static 'images/Statue_of_Liberty.png' %}" alt="" class=" img-fluid">
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- end section -->