{% load static %}
<!-- home section -->
<section class="home bg-light" id="home">
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img src="{% static 'images/baby-phone.png' %}" alt="" class="img-fluid mb-4 smallphone-image">
                <h1 class="display-5 fw-bold">Perfect app landing page for your app.</h1>
                <p class="mt-4 text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente
                    voluptatum quasi possimus minima consequuntur, odio impedit incidunt.</p>
                <button class="btn bg-gradiant mt-4">Read More</button>
            </div>

            <div class="col-lg-5 offset-md-1">
                <img src="{% static 'images/homebg1.png' %}" alt="" class="img-fluid">
                <div class="up-botton-text d-flex align-items-center d-none d-md-block">
                    <h5>Welcome To english-in-penza 🙋‍♀️</h5>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->

    <div class="background-line"></div>
</section>
<!-- end home section -->
