{% load static %}
<!-- service section -->
<section class="section service bg-light" id="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-5">
                    <h6 class="mb-0 fw-bold text-primary">Что Мы Делаем?</h6>
                    <h2 class="f-40">Как Мы Вам Поможем!</h2>
                    <div class="border-phone">
                        <p class="text-muted">Присоединяйтесь к нам и освоите английский язык с легкостью.
                            Наши опытные преподователи предоставляют увлекательные и интерактивные уроки,
                            которые помогут вам достичь уверенности и беглости в языке.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-lg-4">
                <div class="service-box text-center shadow">
                    <div class="service-icon p-4">
                        <i class="mdi mdi-book-open-variant text-gradiant f-30"></i>
                    </div>

                    <div class="service-content mt-4">
                        <h5 class="fw-bold">Изучение с Пользой</h5>
                        <p class="text-muted">Наши курсы ориентированы на практические знания английского языка,
                            которые помогут вам в повседневной жизни. Учите английский с пользой.</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-4 pt-4 pt-lg-0">
                <div class="service-box text-center shadow">
                    <div class="service-icon p-4">
                        <i class="mdi mdi-lightbulb-on text-gradiant f-30"></i>
                    </div>

                    <div class="service-content mt-4">
                        <h5 class="fw-bold">Творческие Идеи</h5>
                        <p class="text-muted">Мы предоставляем увлекательные идеи для изучения английского языка.
                            Узнавайте с удовольствием и радостью.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 pt-4 pt-lg-0">
                <div class="service-box text-center shadow">
                    <div class="service-icon p-4">
                        <i class="mdi mdi-desktop-mac text-gradiant f-30"></i>
                    </div>

                    <div class="service-content mt-4">
                        <h5 class="fw-bold">Персональное Обучение</h5>
                        <p class="text-muted">Наши уроки ориентированы на вашу личную потребность в изучении английского языка.
                            Обучайтесь с комфортом и получайте индивидуальную поддержку.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
